/* 组件样式：按钮 */
button {
    padding: 8px 16px;
    margin-right: 3px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 95px;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

/* 组件样式：股票清单 */
#stock-list-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

#stock-list-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    flex-shrink: 0;
}

#stock-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0px 2 2;
    display: flex;
    align-items: center;
    gap: 0px;
		width: 55%;
}

#stock-list li {
    padding: 8px 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0px;
		width: 65%;
}

#stock-list li button {
    border: none;
    color: white;
		background-color: #e0e0e0;
    padding: 4px 8px;
    border-radius: 3px;
		margin-left: 0px;
    cursor: pointer;
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0px;
    height: 0px;
}

#stock-list li button:hover {
    background-color: #cc0000;
}

#toggle-icon {
    font-size: 16px;
    cursor: pointer;
    margin-left: -90px;
}

#expanded-stock-list {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: -15px 0 0 120px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
    width: 40%;
}

#expanded-stock-list li {
    padding: 8px 12px;
		margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#expanded-stock-list li:hover {
    background-color: #f0f0f0;
}

#expanded-stock-list li.selected {
    background-color: #007bff;
    color: white;
}

#expanded-stock-list li button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#expanded-stock-list li button:hover {
    background-color: #cc0000;
}

#output-tabs, .tab-content {
    position: relative;
    z-index: 1;
}

.copy-btn {
  position: fixed;
  top: 270px;
  right: 10px;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 24px !important;
  height: 24px !important;
  display: none;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: none !important;
  z-index: 9999;
}

.copy-icon {
  width: 18px;
  height: 18px;
  fill: #666;
  transition: fill 0.3s ease;
}

.copy-btn:hover .copy-icon,
.copy-btn.copied .copy-icon {
  fill: #007bff;
}
